<mat-card class="py-4 pb-3">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
            <div class="pr-3">
                <div class="dash-title">Search</div>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70">
            <div fxLayout="row wrap">
                <div class="form-group pr-3" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="calc(100% - 300px)" fxFlex.lg="calc(100% - 300px)" fxFlex.xl="calc(100% - 300px)">
                    <mat-form-field class="w-100" floatLabel="never">
                        <input matInput placeholder="Search Products" (keyup)="applyFilter($event.target.value,$event.code)">
                    </mat-form-field>
                </div>
                <!-- form-group -->
                <div class="contact-btn" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="300px" fxFlex.lg="300px" fxFlex.xl="300px">
                    <!-- <button class="mr-2 mb-2" mat-raised-button color="primary">Search</button> -->
                    <button mat-raised-button color="primary" [routerLink]="['/admin-panel/product-add']">Search</button>
                </div>
                <!-- contact-btn -->
            </div>
        </div>
    </div>
</mat-card>


<ng-container *ngIf="productsGrid && productsGrid.length >= 0; else elseBlock">

    <ng-container>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" *ngIf="productsGrid && productsGrid.length>0">
            <div fxFlex.gt-md="25" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let product of cardsObs | async; let i=index;">
                <mat-card class="product-card">
                    <a class="p-link">
                        <!-- <img width="626" height="800" mat-card-image [src]="product?.image" alt="Photo of a Shiba Inu"> -->
                        <!-- <img width="626" height="800" mat-card-image src="https://t4.ftcdn.net/jpg/01/82/35/11/240_F_182351193_5mOBsDX7ntLaGixDlIFIJ8LeaJemGLAC.jpg" alt="Photo of a Shiba Inu"> -->
                        <img width="626px" height="300px" mat-card-image [src]="product?.FrontImg" alt="Photo of a Shiba Inu">
                    </a>

                    <!-- wishlist-icon-->
                    <mat-card-content class="product-content relative">
                        <h5><a class="title-link">{{product.NomProduit || null}}</a> </h5>
                        <!-- <p class="category-wrap mb-2">{{product?.NsousCategorie || null}}</p> -->
                        <p class="category-wrap mb-2">{{product?.Marque || null}}</p>
                        <div class="product-price">
                            <div fxFlex fxLayoutAlign="space-between">
                                <h6 class="accent-color">{{product?.Prix | currency}}</h6>
                            </div>
                        </div>
                        <!--product-price-->
                        <div class="m-icon">
                            <button mat-fab (click)="productPage(product.IdProd,product.NsousCategorie)"><i class="material-icons">remove_red_eye</i></button>
                        </div>
                        <!-- m-icon -->
                    </mat-card-content>
                    <!-- product-content -->

                </mat-card>
            </div>
        </div>

        <mat-paginator [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions" (page)="onPage($event)"></mat-paginator>
    </ng-container>
</ng-container>
<ng-template #elseBlock>
    <h5 class="ml-5">No product found</h5>
</ng-template>