<form [formGroup]="addNewSousCategorieForm" class="popup-card-width add-new-user">
    <div>
        <h2 mat-dialog-title>Add New Sous Categorie</h2>
    </div>
    <mat-dialog-content class="mb-4">

        <mat-form-field class="w-100">
            <mat-select matNativeControl formControlName="CategorieId" placeholder="categorie List">
                <mat-option *ngFor="let categorie of categories" [value]="categorie.IdCat">{{ categorie.Ncategorie }}</mat-option>

            </mat-select>
            <mat-error *ngIf="addNewSousCategorieForm.controls['CategorieId'].touched && !addNewSousCategorieForm.controls['CategorieId'].valid">
                <mat-error *ngIf="addNewSousCategorieForm.controls['CategorieId'].hasError('required')" class="required alert-error">
                    You must Select a categorie.
                </mat-error>
            </mat-error>
        </mat-form-field>


        <mat-form-field class="w-100">
            <input matInput type="text" formControlName="NsousCategorie" class="form-control" placeholder="Nom Sous Categorie" autocomplete="off">
            <mat-error *ngIf="addNewSousCategorieForm.controls['NsousCategorie'].touched && !addNewSousCategorieForm.controls['NsousCategorie'].valid">
                <mat-error *ngIf="addNewSousCategorieForm.controls['NsousCategorie'].hasError('required')" class="required alert-error">
                    Il faut ajouter un nom de categorie.
                </mat-error>
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="m-0">
        <button type="button" mat-raised-button (click)="dialogRef.close()" color="primary">CLOSE</button>
        <button (click)="onFormSubmit()" type="submit" [disabled]="!addNewSousCategorieForm.valid" mat-raised-button color="warn">SUBMIT</button>
    </mat-dialog-actions>
</form>
<!-- add-new-Categorie -->